@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
}
.slick-prev:before,
.slick-next:before {
  padding: 2px;
  color: #333 !important; /* Change to any color you want */
}

/* You can also customize the hover state */
.slick-prev:hover:before,
.slick-next:hover:before {
  padding: 2px;
  color: #555 !important;
}
